@import '../../../styles/_base.scss';

.outer {
	font-family: $font-stack;
  margin-bottom: 12px;
	user-select: none;
	
	.text {
		color: $grey_1;
		font-size: $checkbox-size;
		font-weight: $regular;
		margin-top: 2px;
		padding-left: 8px;
		user-select: none;
	}
	.switchContainer {
		position: relative;
		display: inline-block;
		width: 38px;
		height: 20px;

		.toggleSwitch {
			opacity: 0;
			width: 0;
			height: 0;

			&.focus + .toggleSlider {
				box-shadow: 0 0 1px $green;
			}
			&.checked + .toggleSlider {
				background-color: $green;
			}

			&.checked + .toggleSlider:before {
				-webkit-transform: translateX(16px);
				-ms-transform: translateX(16px);
				transform: translateX(16px);
			}
		}

		.toggleSlider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 20px;

			&:before {
				position: absolute;
				content: "";
				height: 14px;
				width: 14px;
				left: 4px;
				bottom: 3px;
				background-color: $white;
				-webkit-transition: .4s;
				transition: .4s;
				border-radius: 50%;
			}
		}

		.iconTickContainer {
			display: inline-block;
			padding-left: 4px;
			padding-top: 1px;
		}

		.iconTick {
			height: $label-size;
			width: $label-size;
			fill: $white;
		}
	}
}

.disabled {
  opacity: .6;
  .switchContainer {
    cursor: not-allowed;
  }
}